body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.forgot-password-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.forgot-password-form h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}
.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.submit-button {
    width: 100%;
    padding: 10px;
    background-color:green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
.error-text {
    display: block;
    color: red;
    margin-top: 5px;
    font-size: 0.9em;
}
.success-text {
    display: block;
    color: green;
    margin-top: 5px;
    font-size: 0.9em;
}
