.addUser{
    margin-left: 250px;
    display: inline-block;
    margin-top: 20px;
    background-color: white ;
    border-radius: 10px;
    padding-right: 50px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-bottom: 20px;
    width: fit-content;
    height: auto;
}
.addUser h3{
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
    padding-right: 100px;
    font-weight: bold;
}
.addUserForm label{
    padding-top: 10px;
    font-size: large;
    font-weight: bold;
    padding-right: 20px;
    display: block;
    text-align: left;
    padding-bottom: 5px;
    padding-left: 55px;
}
.addUserForm input{
    width: 80%;
    border-radius: 20px;
    height: 50px;
    text-align: left;
    display: block;
    background-color: azure;
    padding-left: 10px;
    margin-left: 50px;
}
.addUser button{
    border-radius: 20px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 50px;
    margin-top: 10px;
    width: 80%;
}
.addUser button :hover{
    background-color: azure;
}
.bg-success{
    color: black;
    padding: 10px 10px;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    margin-left: 50px;
}
p{
    text-align: center;
    padding: 10px;
    padding-left: 20px;
}
.forgot a{
    color: brown;
    padding-left: 100px;
    font-weight: bold;
}
.forgot :hover{
    color: blue;
}