.form-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    background-color: #a8e6e8;
    text-align: center;
    border: 2px solid black;
  }
  input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 80%;
  }
  button {
    background-color: orange;
    padding: 8px 16px;
    border: none;
    color: white;
    cursor: pointer;
  }
  a {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }
  